version: "3.9"

services:
  postgres:
    build:
      context: ./docker
    container_name: analytics-postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: analytics
      POSTGRES_USER: analytics_user
      POSTGRES_PASSWORD: analytics_pass

volumes:
  pgdata:
